 <!-- footer -->
 <footer class="bg-black text-white h-48 flex justify-evenly items-center">
    <!-- logo -->
    <div>
      <a href="/">
        <h2 class="font-bold text-3xl">
          Commerce
          <span class="bg-[#f84525] text-white px-2 rounded-md">Node</span>
        </h2>
      </a>
    </div>

    <div>
      <h2 class="font-bold text-2xl">Commerce Node</h2>
      <ul class="pt-2">
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer">Biz Kimiz</li>
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">Kariyer</li>
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">İletişim</li>
      </ul>
    </div>

    <div>
      <h2 class="font-bold text-2xl">Odeme Secenekleri</h2>
      <ul class="pt-2">
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">Visa</li>
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">MasterCard</li>
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">Troy</li>
        <li class="hover:ml-3 hover:text-[#f84525] duration-200 font-semibold cursor-pointer ">AmericanExpress</li>
      </ul>
    </div>

    <div>
      <h2>Sosyal Meyda</h2>
      <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
    </div>
  </footer>
  <div class="w-full h-8 bg-[#f84525] flex justify-center items-center">
        <p class="my-auto font-semibold text-white">Tum haklari Saklidir &copy; H.O.M.</p>
  </div>